flows.json
[{"id":"35a38259.de5c9e","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"2cfc035e.e824f4","type":"inject","z":"35a38259.de5c9e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":180,"y":160,"wires":[["7849d47c.0ec5a4"]]},{"id":"cd31eab4.7d6a3","type":"debug","z":"35a38259.de5c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":400,"wires":[]},{"id":"7849d47c.0ec5a4","type":"watson-conversation-v1","z":"35a38259.de5c9e","name":"Test Bot","workspaceid":"44237208-c63a-4433-9494-4ce20f7cb111","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ed6c8b30-ea25-45ec-82d9-3010f7bcc0bf","timeout":"","optout-learning":false,"x":430,"y":260,"wires":[["cdfb459.e22cbb8"]]},{"id":"cdfb459.e22cbb8","type":"function","z":"35a38259.de5c9e","name":"Parsing","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":320,"wires":[["cd31eab4.7d6a3","94956107.65ef58"]]},{"id":"cea1e7a4.db19e8","type":"ui_form","z":"35a38259.de5c9e","name":"","label":"","group":"23e97ba5.902dfc","order":3,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":440,"wires":[["3229175c.def2c"]]},{"id":"3229175c.def2c","type":"function","z":"35a38259.de5c9e","name":"Input Parsing","func":"msg.payload = msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["7849d47c.0ec5a4","bf5b6a2.ddf7218"]]},{"id":"bf5b6a2.ddf7218","type":"ui_text","z":"35a38259.de5c9e","group":"23e97ba5.902dfc","order":4,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":520,"wires":[]},{"id":"94956107.65ef58","type":"ui_text","z":"35a38259.de5c9e","group":"23e97ba5.902dfc","order":5,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":280,"wires":[]},{"id":"23e97ba5.902dfc","type":"ui_group","z":"","name":"Chatbot","tab":"5bbd93a8.94de2c","order":1,"disp":true,"width":"20","collapse":false},{"id":"5bbd93a8.94de2c","type":"ui_tab","z":"","name":"Movie Ticketing","icon":"dashboard","disabled":false,"hidden":false}]